/**
 * --------------------------------------------------------------------------------
 * 6.0 - Footer
 * --------------------------------------------------------------------------------
 */

.pgl-footer { margin-top: 30px;}

.footer-content{
    padding: 30px 0 0;
    background: #181818;
    color:#666;
    margin: 0;
    .widget-title{
        color:#fff;
        span:after{
            display: none;
        }
      span {
        position: relative;
        padding-bottom: 5px;
        &:before {
          content: "";
          border-bottom: 1px solid #555;
          width: 40px;
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
        }
      }
    }
  .about-content {
    .store { margin: 10px 0;
      p { margin-bottom: 5px;}
      .fa { margin-right: 10px; color: #aaa;}
    }
    .link-follow {
      padding-top: 20px;
      margin-top: 12px;
      position: relative;
      float: left;
      &:after {
        content: "";
        border-bottom: 1px solid #555;
        width: 80px;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
      }
      li {
        float: left;
        margin-right: 12px;
        a {
          line-height: 18px;
          color: #ccc;
          width: 35px;
          height: 35px;
          line-height: 38px;
          text-align: center;
          background: #333;
          .border-radius(50px);
          span {
            width: 60px;
            height: auto;
            line-height: 20px;
            padding: 1px 7px;
            left: 50%;
            margin-left: -30px;
            text-transform: none;
            font-size: 12px;
            color: #fff;
            font-weight: normal;
            text-align: center;
            background: @main-color;
            text-indent: 0px;
            position: absolute;
            pointer-events: none;
            bottom: 60px;
            .opacity(0);
            .transition( all 0.3s ease-in-out 0s);
            &:before,&:after {
              content: '';
              position: absolute;
              bottom: -4px;
              left: 50%;
              margin-left: -4px;
              width: 0;
              height: 0;
              border-left: 5px solid transparent;
              border-right: 5px solid transparent;
              border-top: 5px solid rgba(0, 0, 0, 0.1);
            }
            &:after {
              bottom: -4px;
              border-top: 5px solid @main-color;
            }
          }
        }
        a:hover {
          text-decoration: none;
          background: @main-color;
          color: #eee;
          padding: 0;
          span {
            bottom: 45px;
            .opacity(0.8);
          }
        }
      }
    }
  }
}
.footer-copyright{
    background: #111;
    padding: 20px 0 10px;
    color:#999999;
    font-size: 0.923em;
    a{
        color:@main-color;
        &:hover{
            color:@link-hover-color;
        }
    }
  ul.links {
    padding-left: 0;
  li {
    display: inline;
    margin: 0 5px;
    border-right: 1px solid #444444;
    padding-right: 10px;
    a { color: #888;
    &:hover { text-decoration: underline;}
    }
    &:last-child { border: none;}
    &:first-child{
      margin-left: 0;
    }

  }
    .first { margin: 0;}
    .last { border: none; margin-right: 0; padding-right: 0;}
  }
}