
/**
 * --------------------------------------------------------------------------------
 * 7.0 - Megamenu
 * --------------------------------------------------------------------------------
 */
.nav-container {
  border-top: 1px solid #f5f5f5;
  box-shadow: 0px 2px 5px 0px #eee;
  position: relative;
  z-index: 98;
  height: 51px;
  line-height: 51px;
  .nav-inner {
    position: relative;
    line-height: 20px;
  }
}
 #pgl-mainnav{
    margin-bottom: 0;
 }
.pgl-megamenu{
	&.bottom-to-top{
		.megamenu {
			.dropdown-menu{
				display: block;
				margin: 20px 0 0 0;
				opacity: 0;
				visibility: hidden;
				position: absolute;
				left: 0px;
				z-index: 1;
                box-shadow: none;
                border: 1px solid #efefef;
				.dropdown-menu{
					top: 0;
					left: 160px;
					margin: 0 0 0 20px;		
				} 
			}
			li{
				&.open{
					>.dropdown-menu{
						opacity: 1;
						visibility: visible;
						margin: 0;
					}
				}
			}
		}
	}
    .off-canvas-toggle{
        color: #fff;
        padding: 18px 20px 19px;
        min-width: 50px;
        text-align: center;
        display: none;
    }
}

.pgl-megamenu {
	position:relative;
    margin-top: @margin-base-horizontal;
    background: none;
    border:none;
    margin:0;
    min-height:0;
    
    .item-product-widget{
        border-color: #666;
    }

    .dropdown-menu{
        background: #fff;
        color:#666;
        a{
            color:#666;
            &:hover{
                text-decoration: underline;
            }
        }
      .button:hover { text-decoration: none;}
    }

    // .woocommerce div.product, .woocommerce-page div.product, .woocommerce #content div.product, .woocommerce-page #content div.product{

    // }

    &.pgl-megamenu-vertical{
        position: static;
        .megamenu{
            >li{
                position: static;
                float: none;
                display: block;
                margin-right: -30px;
                >a{
                    padding: 5px 0;
                    .fa{
                        float: right;
                        margin-right: 30px;
                    }
                    span{
                        &:after{
                            margin: 0!important;
                        }
                    }
                }
                >.dropdown-menu{
                    top: 0;
                    left:100%;
                    min-height: 100%;
                    .box-shadow(0 6px 12px rgba(0,0,0,.2));
                }
                .widget-title{
                    line-height: 2;
                }
            }
        }
    }
    ul.nav{
        float: inherit;
        > li{
          float: left;
            text-align: left;
            &.aligned-fullwidth{
                position: static;
                .dropdown-menu{
                    left: 0;
                }
                .mega-inner {
                    ul{
                        li {
                            .dropdown-menu{
                                left: 100%;
                                padding: @padding-large-vertical @padding-large-horizontal;
                            }
                        }
                    }
                }
            }
            &.aligned-center{
                >.dropdown-menu{
                    left:50%;
                    .transform(translate(-50%));
                }
            }
            > a{
                font-size: 16px;
                font-weight: normal;
                text-transform: capitalize;
                .caret{
                    border-top-color: @menu-color;
                    border-bottom-color: @menu-color;
                }
            }
        }
    }

    .megamenu{
        a,span{
            &:after{
                .transition(all 0.4s);
            }
        }
        >li{
            >a{
                padding: 8px 15px ; line-height: 32px; font-family: 'Montserrat Alternates', sans-serif; font-weight: normal; color: #666; border-top: 2px solid #fff;  border-right: 1px solid #f2f2f2;  letter-spacing: -1px;
                >.fa{
                    display: none;
                }
            }

        	&.current-menu-item,&.current-menu-parent,&.current-menu-ancestor{
                >a{
                    color: #666;
                    border-top-color: @main-color;
                    background: #fbfbfb;
                }
        	}

            &:hover>a{
                color:#666;
                border-top-color: @main-color;
                background: #fbfbfb;
            }
            .current-menu-item{
                >a{
                    >span{
                        color:@link-color;
                    }
                }
            }
            &.open{
                .woocommerce .product-col{
                    visibility: visible!important;
                }
            }
        }

        .woocommerce{
            margin-top: 5px;
            .product-col{
                visibility: hidden!important;
            }
            .product-meta{
                [class*="col-"]{
                    width: 100%;
                }
                .price{
                    text-align: left;
                }
                .title{
                    a{
                        font-size: 1em;
                        color:@text-color;
                        &:hover{
                            color:@link-color;
                        }
                    }
                }
            }
            .star-rating{
                width: 72px;
            }
        }
        .aligned-fullwidth{
            >.mega-dropdown-menu{
                width: 100%!important;
                >.dropdown-menu-inner{
                    overflow: hidden;
                }
            }
            .mega-col-nav{
                position: relative;
            }
        }
            
        .widget-title{
            color:#333;
            span{
                &:after{
                    display: none;
                }
            }
        }
        .module{
            img{
                max-width: 100%;
            }
        }
    }

    .mega-dropdown-menu{
        .row{
            margin-bottom: @grid-gutter-width;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }

    .navbar-collapse{
        padding: 0;
    }

    .navbar-nav.pull-right > li > .dropdown-menu, .navbar-nav > li > .dropdown-menu.pull-right{
        left: 0;
    }
	
    .mega-col-nav {
        .title{
          margin-top: 0;
        }
        .widget{
          margin: 0;
        }
        .mega-inner {
            ul{
                list-style: none outside none;
                margin: 0;
                padding: 0;
                li {
                    list-style: none;
                    margin-left: 0;
                    display: block;
                    min-width: 180px;
                    position: relative;
                    a {
                        text-transform: none;
                        &:focus,
                        &:hover{
                            color: @link-color;
                            .caret{
                                border-left: 4px solid @link-color !important;
                            }
                        }
                        .caret{
                            border-bottom: 4px solid transparent;
                            border-top: 4px solid transparent !important;
                            border-left: 4px solid @color-menu-dropdown !important;
                        }
                    }
                    &.active{
                        a{
                            color: @link-color !important;
                        }
                    }
                    &.menu-item{
                        position: relative;
                        line-height: 20px;
                        > ul{
                            display: none;
                            padding: 10px;
                        }
                        &:hover{
                            > ul{
                                display: block;
                                position: absolute;
                                top: 0;
                                left: 150px;
                                z-index: 99;
                                box-shadow: 0 1px 3px #D3D3D3;
                                background-color: @white;
                            }
                        }
                    }
                }
            }
        }
    }
    .aligned-fullwidth{
        .dropdown-menu{
            padding:20px;
        }
    }
	.dropdown-menu {
        min-width: 230px;
        .border-radius(0px);
        padding: 20px;
        border:0;
        .box-shadow(0 5px 15px -5px #333);
        li{
            padding: 5px 0;
        }
        .product-block{
            margin-bottom: 0!important;
            .onsale,
            .quick-view,
            .button-groups{
                display: none;
            }
            .image{
                &:hover{
                    img{
                        opacity: 1;
                    }
                }
            }
        }
	}
	.mega-group {
        min-width: 0!important;
        >a{
            font-size: 1.2em;
            display: block;
            margin-bottom:10px;
            position: relative;
            overflow: hidden;
            span{
                color:#333;
                position: relative;
                padding-right: 20px;
                font-family: @font-heading;
                &:hover{
                    color:@main-color;
                }
            }
        }
		.caret{
			display: none;
		}
		& > .dropdown-toggle {
			display: block;
			font-weight: 700;
			padding: 6px 5px;
			text-transform: uppercase;
			border-bottom: solid 1px #E5E5E5 
		}
		
	}
	.dropdown-submenu {
		&:hover{
			> .dropdown-menu{
				display: block;
			}
		}
		& > .dropdown-menu {
		    .border-radius(0px);
		    left: 100%;
		    margin-top: 0px;
		    top: 0;
		}
	}
    .title-menu{
        text-transform: uppercase;
        font-size: @font-size-base;
        margin-top: @margin-base-horizontal*3;
        margin-bottom: @margin-base-horizontal;
        color: @theme-color-default;
        font-weight: 600;
    }
	.cols2{ width: 420px; }
	.cols3{ width: 620px; }
	.cols4{ width: 820px; }
}

// Widget Mega Menu
//---------------------------------------------

.images-intro{
    position: relative;
    .sale-info {
        background: none repeat scroll 0 0 rgba(99,203,194,0.8);
        height: 100%;
        position: absolute;
        text-align: right;
        top: 0;
        color: @white;
        padding: @padding-large-vertical*3 @padding-large-horizontal;
        .sale-name,
        .sale-number{
            text-transform: uppercase;
        }
        .sale-name{
            font-size: @font-size-base*2;
        }
        .sale-number{
            font-size: @font-size-base*3;
            font-weight: 700;
        }
        .sale-sumary{
            font-size: @font-size-base + 2;
        }
        .btn-custom{
            bottom: -50px;
            padding: 1px @padding-large-horizontal*2;
            color: @white;
        }
        &:hover{
            background: rgba(237,80,96,0.8);
        }

    }
}
